<!-- NAV BAR  -->
<header class="sticky-top shadow">
  <!-- for making the navbar sticky to the top -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/#home">
      <img src="\images\favicon-32x32.png" alt="RPM LOGO">
      RPM SAEMUJ
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <!-- <a class="nav-link" href="#">Home</a> -->
          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="/" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Home
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/#rpm-defination">What is RPM?</a>
              <a class="dropdown-item" href="/#our-vision">Our Vision</a>
              <a class="dropdown-item" href="/#achievements">Achievements</a>
              <a class="dropdown-item" href="/#contact-us">Contact Us</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/technical-sessions">Technical Sessions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/our-team">Our Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/membership">Join Us</a>
        </li>
        <li>
          <a class="nav-link" href="/rpm-x-rpx">RPM X RPX</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- NAV BAR ENDS -->
