<%-include('partials/header')-%>
<%-include('partials/nav-bar')-%>

<section id="membership">
  <div class="row">
    <div class="col-md-6">
      <div class="headline">

        <h2><i class="fas fa-user-plus"></i> Membership</h2>
      </div>

      <h1>Get revved up.</h1>

      <h3>Become a RPM-SAEMUJ Member Today!</h3>
      <button href="#fees-table" class="btn btn-warning membership-btn">Register now</button>
    </div>

    <div class="col-md-6">
      <h2>MEMBER BENEFITS</h2>
      <ul>
        <li>
          <p>Get a chance to participate in various car teams and represent the college at national level, gaining
            lots of exposure</p>
        </li>
        <li>
          <p>Best platform to showcase your technical skills and designing skills.</p>
        </li>
        <li>
          <p>Learn the most important values such as teamwork, hard work and dedication by being a part of the
            club. </p>
        </li>
        <li>
          <p>Utilise the resources the club provides to increase your technical knowledge by becoming a member.
          </p>
        </li>
        <li>
          <p>Being a part of the club, get a closer experience in big events such as the motorsport fest and
            chances to help coordinate the event. </p>
        </li>
      </ul>
    </div>
  </div>
</section>
<section id='fees-table'>
  <h3>SAE RPM Membership fees.</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Year</th>
        <th scope="col">RPM annual fees</th>
        <th scope="col">SAE Membership </th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1st</th>
        <td>(150 X 4)Rs</td>
        <td>2478 Rs</td>
        <td>3078 Rs</td>
      </tr>
      <tr>
        <th scope="row">2nd</th>
        <td>(150 X 3)Rs</td>
        <td>2124 Rs</td>
        <td>2574 Rs</td>
      </tr>
      <tr>
        <th scope="row">3rd</th>
        <td>(150 X 2)Rs</td>
        <td>1770 Rs</td>
        <td>2070 Rs</td>
      </tr>
    </tbody>
  </table>
  <h6>*Drawback of annual SAE membership is that member can't participate in Baja and Supra</h5>
</section>


<%-include('partials/footer')-%>
<%-include('partials/sticky-footer')-%>
