<%-include('partials/header')-%>
<%-include('partials/nav-bar')-%>
<section id='our-team'>

  <h3>Presenting the new core of RPM SAE MUJ 2021-22</h3>

  <p>"The spark of ignition comes with the key of ultimate connection. And the connection comes with support from each individual."</p>
  <p> Holding the legacy of RPM-SAE MUJ ahead, we being the future of RPM core take an oath to oneself to achieve something socially acceptable and promising. </p>
  <p>We as a team wish to grab whatever our seniors have learnt all these years and add our blend of skills to attain that will be the need of modern times. Our efforts and hardwork won't let down our institution. </p>

  <div class="row">
    <div class="post-card col-lg-4 col-md-12 col-sm-12 offset-lg-4 text-center">
      <div class="card" style="background-color:#EEEEEE;">
        <img class="post-img" src="images\our-team-circle\chairperson-circle.png" height="150px" width="150px" alt="">
        <h5 class="card-title">Chairperson</h5>
        <h6 class="card-subtitle mb-2 text-muted">Lavish Rawal</h6>
        <div class="card-body align-items-center d-flex justify-content-center">
          <b><a class='post-Link social' target=blank href="https://www.instagram.com/rpm_saemuj/?igshid=14ddhs1fn98e9"><i class="lni lni-instagram"></i></a>
            <a class='post-Link social' target=blank href="https://www.linkedin.com/company/rpm-saemuj/"><i class="lni lni-linkedin"></i></a>
            <a class='post-Link social' target=blank href="https://www.instagram.com/rpm_saemuj/?igshid=14ddhs1fn98e9"><i class="lni lni-facebook"></i></a></b>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="post-card col-lg-4 col-md-12 col-sm-12 text-center">
      <div class="card" style="background-color:#EEEEEE;">
        <img class="post-img" src="images\our-team-circle\vice-chairperson-circle.png" height="150px" width="150px" alt="">
        <h5 class="card-title">Vice-Chairperson</h5>
        <h6 class="card-subtitle mb-2 text-muted">Saksham Sinha</h6>
        <div class="card-body align-items-center d-flex justify-content-center">
          <b><a class='post-Link social' target=blank href="https://www.instagram.com/rpm_saemuj/?igshid=14ddhs1fn98e9"><i class="lni lni-instagram"></i></a>
            <a class='post-Link social' target=blank href="https://www.linkedin.com/company/rpm-saemuj/"><i class="lni lni-linkedin"></i></a>
            <a class='post-Link social' target=blank href="https://www.instagram.com/rpm_saemuj/?igshid=14ddhs1fn98e9"><i class="lni lni-facebook"></i></a></b>
        </div>
      </div>
    </div>
    <div class="post-card col-lg-4 col-md-12 col-sm-12 text-center">
      <div class="card" style="background-color:#EEEEEE;">
        <img class="post-img" src="images\our-team-circle\general-secretary-circle.png" height="150px" width="150px" alt="">
        <h5 class="card-title">General Secretary</h5>
        <h6 class="card-subtitle mb-2 text-muted">Vedant Shinde</h6>
        <div class="card-body align-items-center d-flex justify-content-center">
          <b><a class='post-Link social' target=blank href="https://www.instagram.com/rpm_saemuj/?igshid=14ddhs1fn98e9"><i class="lni lni-instagram"></i></a>
            <a class='post-Link social' target=blank href="https://www.linkedin.com/company/rpm-saemuj/"><i class="lni lni-linkedin"></i></a>
            <a class='post-Link social' target=blank href="https://www.instagram.com/rpm_saemuj/?igshid=14ddhs1fn98e9"><i class="lni lni-facebook"></i></a></b>
        </div>
      </div>
    </div>
    <div class="post-card col-lg-4 col-md-12 col-sm-12 text-center">
      <div class="card" style="background-color:#EEEEEE;">
        <img class="post-img" src="images\our-team-circle\treasurer-circle.png" height="150px" width="150px" alt="">
        <h5 class="card-title">Treasurer</h5>
        <h6 class="card-subtitle mb-2 text-muted">Aditya Mongia</h6>
        <div class="card-body align-items-center d-flex justify-content-center">
          <b><a class='post-Link social' target=blank href="https://www.instagram.com/rpm_saemuj/?igshid=14ddhs1fn98e9"><i class="lni lni-instagram"></i></a>
            <a class='post-Link social' target=blank href="https://www.linkedin.com/company/rpm-saemuj/"><i class="lni lni-linkedin"></i></a>
            <a class='post-Link social' target=blank href="https://www.instagram.com/rpm_saemuj/?igshid=14ddhs1fn98e9"><i class="lni lni-facebook"></i></a></b>
        </div>
      </div>
    </div>
    <div class="post-card col-lg-4 col-md-12 col-sm-12 text-center">
      <div class="card" style="background-color:#EEEEEE;">
        <img class="post-img" src="images\our-team-circle\program-chair-circle.png" height="150px" width="150px" alt="">
        <h5 class="card-title">Program Chair</h5>
        <h6 class="card-subtitle mb-2 text-muted">Anurag Nair</h6>
        <div class="card-body align-items-center d-flex justify-content-center">
          <b><a class='post-Link social' target=blank href="https://www.instagram.com/rpm_saemuj/?igshid=14ddhs1fn98e9"><i class="lni lni-instagram"></i></a>
            <a class='post-Link social' target=blank href="https://www.linkedin.com/company/rpm-saemuj/"><i class="lni lni-linkedin"></i></a>
            <a class='post-Link social' target=blank href="https://www.instagram.com/rpm_saemuj/?igshid=14ddhs1fn98e9"><i class="lni lni-facebook"></i></a></b>
        </div>
      </div>
    </div>
    <div class="post-card col-lg-4 col-md-12 col-sm-12 text-center">
      <div class="card" style="background-color:#EEEEEE;">
        <img class="post-img" src="images\our-team-circle\reception-chair-circle.png" height="150px" width="150px" alt="">
        <h5 class="card-title">Reception Chair</h5>
        <h6 class="card-subtitle mb-2 text-muted">Dhruv Khanna</h6>
        <div class="card-body align-items-center d-flex justify-content-center">
          <b><a class='post-Link social' target=blank href="https://www.instagram.com/rpm_saemuj/?igshid=14ddhs1fn98e9"><i class="lni lni-instagram"></i></a>
            <a class='post-Link social' target=blank href="https://www.linkedin.com/company/rpm-saemuj/"><i class="lni lni-linkedin"></i></a>
            <a class='post-Link social' target=blank href="https://www.instagram.com/rpm_saemuj/?igshid=14ddhs1fn98e9"><i class="lni lni-facebook"></i></a></b>
        </div>
      </div>
    </div>
    <div class="post-card col-lg-4 col-md-12 col-sm-12 text-center">
      <div class="card" style="background-color:#EEEEEE;">
        <img class="post-img" src="images\our-team-circle\promotion-chair-circle.png" height="150px" width="150px" alt="">
        <h5 class="card-title">Promotion Chair</h5>
        <h6 class="card-subtitle mb-2 text-muted">D Sri Karthik</h6>
        <div class="card-body align-items-center d-flex justify-content-center">
          <b><a class='post-Link social' target=blank href="https://www.instagram.com/rpm_saemuj/?igshid=14ddhs1fn98e9"><i class="lni lni-instagram"></i></a>
            <a class='post-Link social' target=blank href="https://www.linkedin.com/company/rpm-saemuj/"><i class="lni lni-linkedin"></i></a>
            <a class='post-Link social' target=blank href="https://www.instagram.com/rpm_saemuj/?igshid=14ddhs1fn98e9"><i class="lni lni-facebook"></i></a></b>
        </div>
      </div>
    </div>
    <div class="post-card col-lg-4 col-md-12 col-sm-12 text-center">
      <div class="card" style="background-color:#EEEEEE;">
        <img class="post-img" src="images\our-team-circle\membership-chair-circle.png" height="150px" width="150px" alt="">
        <h5 class="card-title">Membership Chair</h5>
        <h6 class="card-subtitle mb-2 text-muted">Jay Shah </h6>
        <div class="card-body align-items-center d-flex justify-content-center">
          <b><a class='post-Link social' target=blank href="https://www.instagram.com/rpm_saemuj/?igshid=14ddhs1fn98e9"><i class="lni lni-instagram"></i></a>
            <a class='post-Link social' target=blank href="https://www.linkedin.com/company/rpm-saemuj/"><i class="lni lni-linkedin"></i></a>
            <a class='post-Link social' target=blank href="https://www.instagram.com/rpm_saemuj/?igshid=14ddhs1fn98e9"><i class="lni lni-facebook"></i></a></b>
        </div>
      </div>
    </div>
    <div class="post-card col-lg-4 col-md-12 col-sm-12 text-center">
      <div class="card" style="background-color:#EEEEEE;">
        <img class="post-img" src="images\our-team-circle\it-head-circle.png" height="150px" width="150px" alt="">
        <h5 class="card-title">IT Head</h5>
        <h6 class="card-subtitle mb-2 text-muted">Rajit Kuthiala</h6>
        <div class="card-body align-items-center d-flex justify-content-center">
          <b><a class='post-Link social' target=blank href="https://www.instagram.com/rpm_saemuj/?igshid=14ddhs1fn98e9"><i class="lni lni-instagram"></i></a>
            <a class='post-Link social' target=blank href="https://www.linkedin.com/company/rpm-saemuj/"><i class="lni lni-linkedin"></i></a>
            <a class='post-Link social' target=blank href="https://www.instagram.com/rpm_saemuj/?igshid=14ddhs1fn98e9"><i class="lni lni-facebook"></i></a></b>
        </div>
      </div>
    </div>
    <div class="post-card col-lg-4 col-md-12 col-sm-12 text-center">
      <div class="card" style="background-color:#EEEEEE;">
        <img class="post-img" src="images\our-team-circle\head-coordinator-circle.png" height="150px" width="150px" alt="">
        <h5 class="card-title">Head Coordinator</h5>
        <h6 class="card-subtitle mb-2 text-muted">Himanish Bhattacharya</h6>
        <div class="card-body align-items-center d-flex justify-content-center">
          <b><a class='post-Link social' target=blank href="https://www.instagram.com/rpm_saemuj/?igshid=14ddhs1fn98e9"><i class="lni lni-instagram"></i></a>
            <a class='post-Link social' target=blank href="https://www.linkedin.com/company/rpm-saemuj/"><i class="lni lni-linkedin"></i></a>
            <a class='post-Link social' target=blank href="https://www.instagram.com/rpm_saemuj/?igshid=14ddhs1fn98e9"><i class="lni lni-facebook"></i></a></b>
        </div>
      </div>
    </div>

  </div>
</section>



<%-include('partials/footer')-%>
<%-include('partials/sticky-footer')-%>
