<%-include('partials/header')-%>
<%-include('partials/nav-bar')-%>

<!-- Technical Session Cards Bootstrap -->
<section id='technical-sessions'>
  <div class="container-fluid" id="content">
    <h3 class='session-title'>Technical Sessions</h3>

    <div class="row">
      <div class="session col-lg-4 md-6 sm-12">


        <div class="card">
          <div class="card-header">
            Technical Session On Suspensions
          </div>
          <div class="card-body">
            <h3>RPM cordially invites all its members to attend this technical session on Suspensions</h3>
            <p>Time:6:00PM</p>
            <p>Venue:MS Teams</p>
            <p>Instructor: ABC</p>
            <button type="button" class="btn btn-dark" name="button">Join Session</button>

          </div>
        </div>
      </div>

      <div class="session col-lg-4 md-6 sm-12">


        <div class="card">
          <div class="card-header">
            Technical Session On Suspensions
          </div>
          <div class="card-body">
            <h3>RPM cordially invites all its members to attend this technical session on Suspensions</h3>
            <p>Time:6:00PM</p>
            <p>Venue:MS Teams</p>
            <p>Instructor: ABC</p>
            <button type="button" class="btn btn-dark" name="button">Join Session</button>

          </div>
        </div>
      </div>

      <div class="session col-lg-4 md-6 sm-12">


        <div class="card">
          <div class="card-header">
            Technical Session On Suspensions
          </div>
          <div class="card-body">
            <h3>RPM cordially invites all its members to attend this technical session on Suspensions</h3>
            <p>Time:6:00PM</p>
            <p>Venue:MS Teams</p>
            <p>Instructor: ABC</p>
            <button type="button" class="btn btn-dark" name="button">Join Session</button>

          </div>
        </div>
      </div>

      <div class="session col-lg-4 md-6 sm-12">


        <div class="card">
          <div class="card-header">
            Technical Session On Suspensions
          </div>
          <div class="card-body">
            <h3>RPM cordially invites all its members to attend this technical session on Suspensions</h3>
            <p>Time:6:00PM</p>
            <p>Venue:MS Teams</p>
            <p>Instructor: ABC</p>
            <button type="button" class="btn btn-dark" name="button">Join Session</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Technical Session Cards Bootstrap -END -->

<%-include('partials/footer')-%>
<%-include('partials/sticky-footer')-%>
